body{
    background-color: #18322f;
    color: #749075;
   font-family: poppins;
}

.one p{
    color: white;
    font-size: 25;
}

.one {
    display: flex;
    justify-content: space-between;
    color: white;
    
}
p{
    color: white;
    font-size: 25;
} 

section{
    margin: 0 30px;
}
.title{
    margin-top: 40px;
    margin-bottom: 30px;
}
.heading{
    display: flex;
    gap: 20px;
}
.line{
    width: 98%;
    height: 2px;
    /* padding: 20px 10px; */
    background-color: #749075;
    margin-bottom: 20px;
    margin-top: 25px;
}